<%= simple_form_for @ad do |f| %>

  <div class="ad-user-info">
    <!-- hidden field name with value equal to @current_user.username -->
    <%= f.input :name, label: "Your name" %>
    <%= f.input :studio, label: "Your studio", input_html: { min: 200, max: 1235 } %>
  </div>

  <div class="ad-info">
    <%= f.input :category, label: "Pick a category", :as => :select,
      :collection =>  [['Looking for/ I wanna learn', :request], ['I\'m offering/ I can teach you', :offer]] %>
    <%= f.input :title %>
    <%= f.input :body, label: "Your message" %>
    <!-- <%= f.input :phone_number %> -->
  </div>

  <%= f.button :submit, "Save your ad" %>

<% end %>
