<% content_for :page_title, "Homepage" %>

<nav class="filters">
  <%= active_link_to "All Ads", root_path, active: { category: nil } %>
  <%= active_link_to "Requests", root_path(category: "request"), active: { category: "request" } %>
  <%= active_link_to "Offers", root_path(category: "offer"), active: { category: "offer" } %>
</nav>

<% @ads.each do |ad| %>

  <div class="ad">
    <%= link_to ad_path(ad) do %>
      <h2><%= ad.title %></h2>
      <p>
        <%= pluralize ad.comments.count, "comment" %>
      </p>
    <% end %>
  </div>

<% end %>
