<% content_for :page_title, @ad.title %>

<h1 class="show-ad-title"><%= @ad.title %></h1>

<!--
<% if @ad.category.present? %>
  <div class="category">
    Category: <%= @ad.category %>
  </div>
<% end %>
-->

<div class="ad">
  <div class="name">
    Hi! I'm <%= @ad.name %>
  </div>

  <div class="studio">
    From studio <%= @ad.studio %>
  </div>

  <div class="textarea">
    <%= simple_format @ad.body %>
  </div>

<!--
<% if @ad.phone_number.present? %>
  <div class="phone_number">
    My phone number is: <%= @ad.phone_number %>
  </div>
<% end %>
-->

<div class="updated_at">
  Published on <%= @ad.updated_at.strftime("%d %B, %Y %I:%M%p") %>
</div>
</div>

<div class="actions">
  <%= link_to "Delete this ad", ad_path(@ad), method: :delete, data: { confirm: "Are you sure?" } %>
  <%= link_to "Edit this ad", edit_ad_path(@ad) %>
</div>

<h3>Comments</h3>

<% @ad.comments.order("created_at desc").each do |comment| %>
  <div class="comment">
    <%= simple_format comment.body %>

    <p class="posted">
      Posted by
        <% if comment.user.present? %>

          <%= link_to comment.user.username, user_path(comment.user) %>

        <% else %>

          anonymous

        <% end %>

      <%= time_ago_in_words comment.created_at %> ago.
    </p>

  </div>
<% end %>

<h3>Add a comment</h3>

<%= simple_form_for [@ad, Comment.new] do |f| %>

  <%= f.input :body, label: "Your comment" %>
  <%= f.button :submit, "Add comment" %>

<% end %>