<% content_for :page_title, "All users" %>

<nav class="filters">
  <%= active_link_to "All users", users_path, active: { studio_number: nil } %>

  <%= simple_form_for '', method: :get do |f| %>
    <%= f.input :studio_number, label: false, placeholder: "search by studio" %>
  <% end %>

</nav>

<% @users.each do |user| %>

  <p>
    <%= user.username %> (<%= user.email %>)
  </p>

<% end %>
