<% content_for :page_title, "Sign up" %>

<h2>Sign up</h2>

<%= simple_form_for @user do |f| %>

  <%= f.input :username %>
  <%= f.input :email %>
  <%= f.input :studio_number, label: "Studio number (optional)" %>
  <%= f.input :phone_number, label: "WhatsApp (optional)", placeholder: "e.g. 5521999999999", hint: ' Only digits, please.' %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>

  <%= f.button :submit, "Sign up" %>

<% end %>
