<% content_for :page_title, @user.username %>

<%= image_tag @user.photo.medium.url %>

<div class="user-list-item">
  <h2><%= @user.username %></h2>

  <% if @user.studio_number.present? %>
    <span>from studio <%= @user.studio_number %></span>
  <% end %>
</div>

<div class="more-info">
  <% if @user.description.present? %>
    <p>About me: <%= @user.description %></p>
  <% end %>

  <%= if @user.birthday_date.present? %>
    <p>My bday: <%= @user.birthday_date.strftime("%d %B, %Y") %></p>
  <% end %>

</div>
