<% content_for :page_title, "Home" %>

<h1><%= @content.title %></h1>

<div class="wrapper-image home">
  <% if @content.image.present? %>
    <%= image_tag @content.image.url %>
  <% end %>
</div>

<h2>
  <%= simple_format @content.body %>
</h2>

<% if @featured_ads.any? %>
  <h3 class="featured">
    <%= "Featured ads" %>
  </h3>

  <ul class="featured">
    <%= render partial: "ad", collection: @featured_ads %>
  </ul>

<% end %>

<% if @latest_ads.any? %>
  <h3 class="latest">
    <%= "Latest ads from your community" %>
  </h3>

  <ul class="latest">
    <%= render partial: "ad", collection: @latest_ads %>
  </ul>
<% end %>

<p class="more-ads">
  <%= link_to ">> See all ads", ads_path %>
</p>