<% content_for :page_title, "Edit account" %>

<h2>Edit account</h2>

<%= simple_form_for @current_user, url: account_path do |f| %>
  <%= f.input :username %>
  <%= f.input :email %>

  <%= f.input :real_name, label: "Name" %>
  <%= f.input :description, label: "Description" %>
  <%= f.input :birthday_date, start_year: 1950, label: "Birthday" %>
  <%= f.input :phone_number, label: "Whatsapp", placeholder: "e.g. 5521999999999", hint: ' Only digits, please.' %>

  <%= f.input :studio_number, label: "Studio number" %>
  <%= f.input :photo, label: "Photo" %>

  <%= f.button :submit, "Update account" %>
<% end %>

<% if @current_user %>
  <div class="actions">
    <%= link_to "Delete this account", account_path(@current_user), method: :delete, data: { confirm: "Are you sure?" } %>
  </div>
<% end %>