<% content_for :page_title, "Edit account" %>

<h2>Edit account</h2>

<%= simple_form_for @current_user, url: account_path do |f| %>
  <%= f.input :username %>
  <%= f.input :email %>
  <%= f.input :studio_number, label: "Studio number" %>
  <%= f.input :phone_number, label: "Whatsapp" %>
  <%= f.input :photo %>

  <%= f.button :submit, "Update account" %>
<% end %>